@font-face
{
  font-family: "Proxima Nova Bold";
  src: url("../fonts/Proxima Nova Bold.otf");
}
@font-face 
{
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.otf");

}
@font-face 
{
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova Regular.otf");
 
}
@font-face 
{
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/Proxima Nova Semibold.otf");
}
@font-face 
{
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova Thin.otf");
}
@font-face 
{
  font-family: "Supermolot Light Italic";
  src: url("../fonts/Supermolot Light Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Bold";
  src: url("../fonts/Supermolot Bold.otf");
 
}
@font-face 
{
  font-family: "Supermolot Bold Italic";
  src: url("../fonts/Supermolot Bold Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Black";
  src: url("../fonts/Supermolot Black.otf");
}
@font-face
{
  font-family: "Supermolot Black Italic";
  src: url("../fonts/Supermolot Black Italic.otf");
}
@font-face
{
  font-family: "Proxima Nova Bold";
  src: url("../fonts/Proxima Nova Bold.otf");
}
@font-face
{
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.otf");
}
@font-face
{
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova Regular.otf");
}
@font-face
{
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/Proxima Nova Semibold.otf");
}
@font-face
{
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova Thin.otf");
}


/*==================================================================================*/
body
{
  background: #2980b9;
}
.container-fluid
{
  display: flex;
  margin: 43px auto;
  width: 960px;
  max-width: 100%;
  min-height: 1080px;
  height: auto;  
}
.navigation
{
  width: 180px;
  max-width: 100%;
  min-height: 1080px;
  height: auto;  
}
.logo
{
  width: 180px;
  max-width: 100%;;
  height: 90px;
  background-color: #2ecc71;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.logo:hover
{
    color: #2ecc71;
    background-color: #FFFFFF;
}
.text
{
    margin-top: 15px;   
}
.text-up
{
    font-family: "Supermolot";
    line-height: 24px;
    font-size: 33px;
}
.text-down
{
    font-family: "Supermolot Bold";
    line-height: 34px;
    font-size: 41px;
}
.nav
{
  width: 180px;
  max-width: 100%;
  height: 990px;
  background-color: #34495e;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.nav li
{
  display: inline-block;
  transition: 0.7s;
  width: 180px;
  margin-top: 20px;
}
.nav li a
{
  padding: 10px 10px;
  font-family: "Proxima Nova Regular";
  font-weight: 500;
  display: inline-block;
  color: #95a5a6;
  text-align: center;
  text-decoration: none;
  transition: 0.7s;
  font-size: 14px;
}

.nav li:hover
{
  background-color: #243342;
}
.bottom
{
  height: 50px;
  margin-top: 350%;
}
.bottom .name
{
  font-family: "Proxima Nova Regular";
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.bottom .logout
{
  background-color: #34495e;
  border: none;
  cursor: pointer;
  margin-left: 30%;
  width: 60px;
  text-align: center;
}
.bottom .logout .text
{
  text-decoration: none;
  color: #2ecc71;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  border-bottom: 1px solid #328465;
}
.auth
{
  margin-left: 10px;
}
.container
{
  width: 780px;
  max-width: 100%;
  height: auto;  
  background-color: #ecf0f1;
}
.container p
{
  margin-top: 20px;
  font-family: "Proxima Nova Light";
  font-size: 48px;
  margin-left: 20px;  
}
.content
{
  border-radius: 5px;
  width: 740px;
  max-width: 100%;
  height: auto;
  margin: -35px auto;
  background-color: #FFFFFF;
  border: 1px solid #dee1e2;
}
.strong_1
{
  display: flex;
  border-bottom: 1px solid #dee1e2;
  width: 100%;
  height: auto;
}

.strong_1 p
{
  font-family: "Proxima Nova Bold";
  font-size: 14px;
  color: #95a5a6;  
}
.strong_1 .block_1
{
  
  width: 270px;
  max-width: 100%;
}
.strong_1 .block_2
{
  
    
  width: 200px;
  max-width: 100%;
}
.strong_1 .block_3
{
   
  width: 200px;
  max-width: 100%;
}
.strong_2
{
  display: flex;
  cursor: pointer;
}
.strong_2:hover
{
  border-left: 4px solid #8e44ad;
  background-color: #f6f8fc;
}
.strong_2 .block_1
{
  width: 5px;
  padding: 30px 15px;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  color: #3498db;
}
.strong_2 .block_2
{
  width: 10px;
  padding: 30px 5px;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  color: #7f8c8d;
}
.strong_2 .block_3
{
  width: 110px;
  padding: 30px 5px;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  color: #2c3e50;
}
.strong_2 .block_4
{
  width: 200px; 
}
.strong_2 .block_4 p
{
    color: #2c3e50;
    font-size: 16px;
    font-family: "Proxima Nova Semibold";
}
.strong_2 .block_5
{
  width: 250px; 
  color: #34495e;
}
.strong_2 .block_5 p
{
    text-align: center;
    color: #636363;
    font-size: 16px;
    font-family: "Proxima Nova Regular";
}
.strong_2 .block_6
{
  margin: 0 auto;
  text-align: center;
  width: 130px; 
}

.strong_2 .block_6 p
{
    text-align: left;
    color: #636363;
    font-size: 16px;
    font-family: "Proxima Nova Regular";
}

.strong_2 .block_7
{
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
  width: 130px; 
  color: #9c9c9c;
  font-size: 14px;
}
.strong_2 .block_7 span
{
  margin-left: 1px;
  font-size: 14px;
  font-family: "Proxima Nova Semibold";
  color: #8e44ad;
  border-bottom: 1px solid #e6daec;  
}
.strong_2 .block_7 a
{
  margin-right: 1px;
  text-decoration: none;

}